body {
  color: #033B49;
  background-color: #F2F7C6;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: #084E5F;
  font-style: italic;
}

ul {
  list-style-position: inside;
}

img {
  width: 350px;
  height: auto;
}