body {
  color: #B21368;
  background-color:#EFD3B5;
  font-family: sans-serif;
}

h3 {
  text-decoration: underline;
  color: #5F093D;
  font-size: 24px;
}

h1 {
  color: #5F093D;
  font-size: 50px;
}

ul {
  list-style-position: inside;
}

img {
  width: 350px;
  height: auto;
}